<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/jtree.browser.js"></script>
<script id="test" type="tree">199955
 Date 2016-07-01
 Value 24.3
199956
 Date 2016-06-01
 Value 24.38
199957
 Date 2016-05-01
 Value 23.87
199958
 Date 2016-04-01
 Value 23.99
199959
 Date 2016-03-01
 Value 23.37
199960
 Date 2016-02-01
 Value 22.01
199961
 Date 2016-01-01
 Value 22.17
199962
 Date 2015-12-01
 Value 23.74
199963
 Date 2015-11-01
 Value 23.67
199964
 Date 2015-10-01
 Value 22.68
199965
 Date 2015-09-01
 Value 21.45
199966
 Date 2015-08-01
 Value 22.15
199967
 Date 2015-07-01
 Value 22.4
199968
 Date 2015-06-01
 Value 22.12
199969
 Date 2015-05-01
 Value 21.92
199970
 Date 2015-04-01
 Value 21.42
199971
 Date 2015-03-01
 Value 20.96
199972
 Date 2015-02-01
 Value 20.77
199973
 Date 2015-01-01
 Value 20.02
199974
 Date 2014-12-01
 Value 20.08
199975
 Date 2014-11-01
 Value 19.75
199976
 Date 2014-10-01
 Value 18.5
199977
 Date 2014-09-01
 Value 18.81
199978
 Date 2014-08-01
 Value 18.68
199979
 Date 2014-07-01
 Value 18.96
199980
 Date 2014-06-01
 Value 18.88
199981
 Date 2014-05-01
 Value 18.46
199982
 Date 2014-04-01
 Value 18.35
199983
 Date 2014-03-01
 Value 18.48
199984
 Date 2014-02-01
 Value 18.06
199985
 Date 2014-01-01
 Value 18.15
199986
 Date 2013-12-01
 Value 18.04
199987
 Date 2013-11-01
 Value 18.15
199988
 Date 2013-10-01
 Value 17.86
199989
 Date 2013-09-01
 Value 17.88
199990
 Date 2013-08-01
 Value 17.91
199991
 Date 2013-07-01
 Value 18.12
199992
 Date 2013-06-01
 Value 17.8
199993
 Date 2013-05-01
 Value 18.25
199994
 Date 2013-04-01
 Value 17.69
199995
 Date 2013-03-01
 Value 17.68
199996
 Date 2013-02-01
 Value 17.32
199997
 Date 2013-01-01
 Value 17.03
199998
 Date 2012-12-01
 Value 16.44
199999
 Date 2012-11-01
 Value 16.12
200000
 Date 2012-10-01
 Value 16.62
200001
 Date 2012-09-01
 Value 16.69
200002
 Date 2012-08-01
 Value 16.14
200003
 Date 2012-07-01
 Value 15.55
200004
 Date 2012-06-01
 Value 15.05
200005
 Date 2012-05-01
 Value 15.22
200006
 Date 2012-04-01
 Value 15.7
200007
 Date 2012-03-01
 Value 15.69
200008
 Date 2012-02-01
 Value 15.37
200009
 Date 2012-01-01
 Value 14.87
200010
 Date 2011-12-01
 Value 14.3
200011
 Date 2011-11-01
 Value 14.1
200012
 Date 2011-10-01
 Value 13.88
200013
 Date 2011-09-01
 Value 13.5
200014
 Date 2011-08-01
 Value 13.79
200015
 Date 2011-07-01
 Value 15.61
200016
 Date 2011-06-01
 Value 15.35
200017
 Date 2011-05-01
 Value 16.12
200018
 Date 2011-04-01
 Value 16.21
200019
 Date 2011-03-01
 Value 16.04
200020
 Date 2011-02-01
 Value 16.52
200021
 Date 2011-01-01
 Value 16.3
200022
 Date 2010-12-01
 Value 16.05
200023
 Date 2010-11-01
 Value 15.88
200024
 Date 2010-10-01
 Value 15.9
200025
 Date 2010-09-01
 Value 15.61
200026
 Date 2010-08-01
 Value 15.47
200027
 Date 2010-07-01
 Value 15.72
200028
 Date 2010-06-01
 Value 16.15
200029
 Date 2010-05-01
 Value 17.3
200030
 Date 2010-04-01
 Value 19.01
200031
 Date 2010-03-01
 Value 18.91
200032
 Date 2010-02-01
 Value 18.91
200033
 Date 2010-01-01
 Value 20.7
200034
 Date 2009-12-01
 Value 21.78
200035
 Date 2009-11-01
 Value 28.51
200036
 Date 2009-10-01
 Value 42.12
200037
 Date 2009-09-01
 Value 83.3
200038
 Date 2009-08-01
 Value 92.95
200039
 Date 2009-07-01
 Value 101.87
200040
 Date 2009-06-01
 Value 123.32
200041
 Date 2009-05-01
 Value 123.73
200042
 Date 2009-04-01
 Value 119.85
200043
 Date 2009-03-01
 Value 110.37
200044
 Date 2009-02-01
 Value 84.46
200045
 Date 2009-01-01
 Value 70.91
200046
 Date 2008-12-01
 Value 58.98
200047
 Date 2008-11-01
 Value 34.99
200048
 Date 2008-10-01
 Value 27.22
200049
 Date 2008-09-01
 Value 26.48
200050
 Date 2008-08-01
 Value 26.83
200051
 Date 2008-07-01
 Value 25.37
200052
 Date 2008-06-01
 Value 26.11
200053
 Date 2008-05-01
 Value 25.81
200054
 Date 2008-04-01
 Value 23.88
200055
 Date 2008-03-01
 Value 21.81
200056
 Date 2008-02-01
 Value 21.74
200057
 Date 2008-01-01
 Value 21.46
200058
 Date 2007-12-01
 Value 22.35
200059
 Date 2007-11-01
 Value 20.81
200060
 Date 2007-10-01
 Value 20.68
200061
 Date 2007-09-01
 Value 19.05
200062
 Date 2007-08-01
 Value 18.02
200063
 Date 2007-07-01
 Value 18.36
200064
 Date 2007-06-01
 Value 17.83
200065
 Date 2007-05-01
 Value 17.92
200066
 Date 2007-04-01
 Value 17.48
200067
 Date 2007-03-01
 Value 16.92
200068
 Date 2007-02-01
 Value 17.49
200069
 Date 2007-01-01
 Value 17.36
200070
 Date 2006-12-01
 Value 17.38
200071
 Date 2006-11-01
 Value 17.24
200072
 Date 2006-10-01
 Value 17.14
200073
 Date 2006-09-01
 Value 16.77
200074
 Date 2006-08-01
 Value 16.67
200075
 Date 2006-07-01
 Value 16.61
200076
 Date 2006-06-01
 Value 16.82
200077
 Date 2006-05-01
 Value 17.46
200078
 Date 2006-04-01
 Value 17.77
200079
 Date 2006-03-01
 Value 17.8
200080
 Date 2006-02-01
 Value 17.8
200081
 Date 2006-01-01
 Value 18.07
200082
 Date 2005-12-01
 Value 18.07
200083
 Date 2005-11-01
 Value 18.01
200084
 Date 2005-10-01
 Value 17.64
200085
 Date 2005-09-01
 Value 18.44
200086
 Date 2005-08-01
 Value 18.72
200087
 Date 2005-07-01
 Value 19.0
200088
 Date 2005-06-01
 Value 19.0
200089
 Date 2005-05-01
 Value 18.93
200090
 Date 2005-04-01
 Value 19.02
200091
 Date 2005-03-01
 Value 19.84
200092
 Date 2005-02-01
 Value 20.11
200093
 Date 2005-01-01
 Value 19.99
200094
 Date 2004-12-01
 Value 20.48
200095
 Date 2004-11-01
 Value 20.05
200096
 Date 2004-10-01
 Value 19.25
200097
 Date 2004-09-01
 Value 19.35
200098
 Date 2004-08-01
 Value 19.03
200099
 Date 2004-07-01
 Value 19.51
200100
 Date 2004-06-01
 Value 20.17
200101
 Date 2004-05-01
 Value 20.14
200102
 Date 2004-04-01
 Value 21.23
200103
 Date 2004-03-01
 Value 21.62
200104
 Date 2004-02-01
 Value 22.46
200105
 Date 2004-01-01
 Value 22.73
200106
 Date 2003-12-01
 Value 22.17
200107
 Date 2003-11-01
 Value 23.15
200108
 Date 2003-10-01
 Value 24.75
200109
 Date 2003-09-01
 Value 26.42
200110
 Date 2003-08-01
 Value 26.57
200111
 Date 2003-07-01
 Value 27.65
200112
 Date 2003-06-01
 Value 28.6
200113
 Date 2003-05-01
 Value 28.24
200114
 Date 2003-04-01
 Value 28.05
200115
 Date 2003-03-01
 Value 27.92
200116
 Date 2003-02-01
 Value 28.46
200117
 Date 2003-01-01
 Value 31.43
200118
 Date 2002-12-01
 Value 32.59
200119
 Date 2002-11-01
 Value 32.03
200120
 Date 2002-10-01
 Value 29.24
200121
 Date 2002-09-01
 Value 28.89
200122
 Date 2002-08-01
 Value 31.53
200123
 Date 2002-07-01
 Value 32.46
200124
 Date 2002-06-01
 Value 37.92
200125
 Date 2002-05-01
 Value 41.41
200126
 Date 2002-04-01
 Value 43.81
200127
 Date 2002-03-01
 Value 46.71
200128
 Date 2002-02-01
 Value 44.57
200129
 Date 2002-01-01
 Value 46.17
200130
 Date 2001-12-01
 Value 46.37
200131
 Date 2001-11-01
 Value 43.62
200132
 Date 2001-10-01
 Value 39.72
200133
 Date 2001-09-01
 Value 36.9
200134
 Date 2001-08-01
 Value 37.85
200135
 Date 2001-07-01
 Value 35.46
200136
 Date 2001-06-01
 Value 33.67
200137
 Date 2001-05-01
 Value 32.02
200138
 Date 2001-04-01
 Value 27.96
200139
 Date 2001-03-01
 Value 26.1
200140
 Date 2001-02-01
 Value 27.81
200141
 Date 2001-01-01
 Value 27.55
200142
 Date 2000-12-01
 Value 26.62
200143
 Date 2000-11-01
 Value 26.9
200144
 Date 2000-10-01
 Value 26.5
200145
 Date 2000-09-01
 Value 27.34
200146
 Date 2000-08-01
 Value 27.97
200147
 Date 2000-07-01
 Value 28.05
200148
 Date 2000-06-01
 Value 28.16
200149
 Date 2000-05-01
 Value 27.49
200150
 Date 2000-04-01
 Value 28.5
200151
 Date 2000-03-01
 Value 28.31
200152
 Date 2000-02-01
 Value 27.76
200153
 Date 2000-01-01
 Value 29.04
200154
 Date 1999-12-01
 Value 29.66
200155
 Date 1999-11-01
 Value 29.74
200156
 Date 1999-10-01
 Value 28.66
200157
 Date 1999-09-01
 Value 29.99
200158
 Date 1999-08-01
 Value 30.89
200159
 Date 1999-07-01
 Value 32.88
200160
 Date 1999-06-01
 Value 32.24
200161
 Date 1999-05-01
 Value 33.19
200162
 Date 1999-04-01
 Value 34.0
200163
 Date 1999-03-01
 Value 33.39
200164
 Date 1999-02-01
 Value 32.67
200165
 Date 1999-01-01
 Value 32.92
200166
 Date 1998-12-01
 Value 31.56
200167
 Date 1998-11-01
 Value 30.25
200168
 Date 1998-10-01
 Value 27.2
200169
 Date 1998-09-01
 Value 26.8
200170
 Date 1998-08-01
 Value 28.0
200171
 Date 1998-07-01
 Value 29.9
200172
 Date 1998-06-01
 Value 28.44
200173
 Date 1998-05-01
 Value 28.3
200174
 Date 1998-04-01
 Value 28.26
200175
 Date 1998-03-01
 Value 27.23
200176
 Date 1998-02-01
 Value 25.85
200177
 Date 1998-01-01
 Value 24.29
200178
 Date 1997-12-01
 Value 24.23
200179
 Date 1997-11-01
 Value 23.46
200180
 Date 1997-10-01
 Value 23.58
200181
 Date 1997-09-01
 Value 23.06
200182
 Date 1997-08-01
 Value 22.83
200183
 Date 1997-07-01
 Value 22.8
200184
 Date 1997-06-01
 Value 21.61
200185
 Date 1997-05-01
 Value 20.6
200186
 Date 1997-04-01
 Value 18.94
200187
 Date 1997-03-01
 Value 19.69
200188
 Date 1997-02-01
 Value 20.09
200189
 Date 1997-01-01
 Value 19.53
200190
 Date 1996-12-01
 Value 19.19
200191
 Date 1996-11-01
 Value 19.45
200192
 Date 1996-10-01
 Value 19.0
200193
 Date 1996-09-01
 Value 18.75
200194
 Date 1996-08-01
 Value 18.6
200195
 Date 1996-07-01
 Value 18.26
200196
 Date 1996-06-01
 Value 19.15
200197
 Date 1996-05-01
 Value 19.1
200198
 Date 1996-04-01
 Value 18.85
200199
 Date 1996-03-01
 Value 19.01
200200
 Date 1996-02-01
 Value 19.1
200201
 Date 1996-01-01
 Value 18.08
200202
 Date 1995-12-01
 Value 18.1
200203
 Date 1995-11-01
 Value 17.33
200204
 Date 1995-10-01
 Value 16.76
200205
 Date 1995-09-01
 Value 16.45
200206
 Date 1995-08-01
 Value 16.01
200207
 Date 1995-07-01
 Value 16.07
200208
 Date 1995-06-01
 Value 15.67
200209
 Date 1995-05-01
 Value 15.5
200210
 Date 1995-04-01
 Value 15.31
200211
 Date 1995-03-01
 Value 15.15
200212
 Date 1995-02-01
 Value 15.11
200213
 Date 1995-01-01
 Value 14.89
200214
 Date 1994-12-01
 Value 14.88
200215
 Date 1994-11-01
 Value 15.62
200216
 Date 1994-10-01
 Value 16.32
200217
 Date 1994-09-01
 Value 17.09
200218
 Date 1994-08-01
 Value 17.44
200219
 Date 1994-07-01
 Value 17.42
200220
 Date 1994-06-01
 Value 18.05
200221
 Date 1994-05-01
 Value 18.5
200222
 Date 1994-04-01
 Value 19.0
200223
 Date 1994-03-01
 Value 20.42
200224
 Date 1994-02-01
 Value 21.02
200225
 Date 1994-01-01
 Value 21.34
200226
 Date 1993-12-01
 Value 21.29
200227
 Date 1993-11-01
 Value 21.63
200228
 Date 1993-10-01
 Value 22.19
200229
 Date 1993-09-01
 Value 22.5
200230
 Date 1993-08-01
 Value 22.65
200231
 Date 1993-07-01
 Value 22.72
200232
 Date 1993-06-01
 Value 23.18
200233
 Date 1993-05-01
 Value 22.83
200234
 Date 1993-04-01
 Value 22.53
200235
 Date 1993-03-01
 Value 22.69
200236
 Date 1993-02-01
 Value 22.55
200237
 Date 1993-01-01
 Value 22.5
200238
 Date 1992-12-01
 Value 22.82
200239
 Date 1992-11-01
 Value 22.56
200240
 Date 1992-10-01
 Value 22.43
200241
 Date 1992-09-01
 Value 23.2
200242
 Date 1992-08-01
 Value 23.6
200243
 Date 1992-07-01
 Value 23.88
200244
 Date 1992-06-01
 Value 23.95
200245
 Date 1992-05-01
 Value 24.75
200246
 Date 1992-04-01
 Value 24.73
200247
 Date 1992-03-01
 Value 25.16
200248
 Date 1992-02-01
 Value 25.6
200249
 Date 1992-01-01
 Value 25.93
200250
 Date 1991-12-01
 Value 24.33
200251
 Date 1991-11-01
 Value 23.27
200252
 Date 1991-10-01
 Value 22.49
200253
 Date 1991-09-01
 Value 21.73
200254
 Date 1991-08-01
 Value 21.22
200255
 Date 1991-07-01
 Value 20.14
200256
 Date 1991-06-01
 Value 19.49
200257
 Date 1991-05-01
 Value 18.98
200258
 Date 1991-04-01
 Value 18.58
200259
 Date 1991-03-01
 Value 17.78
200260
 Date 1991-02-01
 Value 17.19
200261
 Date 1991-01-01
 Value 15.35
200262
 Date 1990-12-01
 Value 15.41
200263
 Date 1990-11-01
 Value 14.68
200264
 Date 1990-10-01
 Value 14.21
200265
 Date 1990-09-01
 Value 14.51
200266
 Date 1990-08-01
 Value 15.33
200267
 Date 1990-07-01
 Value 16.81
200268
 Date 1990-06-01
 Value 16.95
200269
 Date 1990-05-01
 Value 16.37
200270
 Date 1990-04-01
 Value 15.7
200271
 Date 1990-03-01
 Value 15.62
200272
 Date 1990-02-01
 Value 14.97
200273
 Date 1990-01-01
 Value 15.13
200274
 Date 1989-12-01
 Value 15.24
200275
 Date 1989-11-01
 Value 14.7
200276
 Date 1989-10-01
 Value 14.84
200277
 Date 1989-09-01
 Value 14.66
200278
 Date 1989-08-01
 Value 14.32
200279
 Date 1989-07-01
 Value 13.43
200280
 Date 1989-06-01
 Value 12.84
200281
 Date 1989-05-01
 Value 12.49
200282
 Date 1989-04-01
 Value 12.07
200283
 Date 1989-03-01
 Value 11.73
200284
 Date 1989-02-01
 Value 11.97
200285
 Date 1989-01-01
 Value 11.82
200286
 Date 1988-12-01
 Value 11.64
200287
 Date 1988-11-01
 Value 11.57
200288
 Date 1988-10-01
 Value 12.02
200289
 Date 1988-09-01
 Value 11.79
200290
 Date 1988-08-01
 Value 11.78
200291
 Date 1988-07-01
 Value 12.22
200292
 Date 1988-06-01
 Value 12.49
200293
 Date 1988-05-01
 Value 12.41
200294
 Date 1988-04-01
 Value 13.38
200295
 Date 1988-03-01
 Value 14.29
200296
 Date 1988-02-01
 Value 14.16
200297
 Date 1988-01-01
 Value 14.03
200298
 Date 1987-12-01
 Value 13.77
200299
 Date 1987-11-01
 Value 14.45
200300
 Date 1987-10-01
 Value 17.07
200301
 Date 1987-09-01
 Value 20.09
200302
 Date 1987-08-01
 Value 21.42
200303
 Date 1987-07-01
 Value 20.81
200304
 Date 1987-06-01
 Value 20.9
200305
 Date 1987-05-01
 Value 19.73
200306
 Date 1987-04-01
 Value 19.46
200307
 Date 1987-03-01
 Value 19.37
200308
 Date 1987-02-01
 Value 18.87
200309
 Date 1987-01-01
 Value 18.01
200310
 Date 1986-12-01
 Value 17.17
200311
 Date 1986-11-01
 Value 16.79
200312
 Date 1986-10-01
 Value 16.12
200313
 Date 1986-09-01
 Value 16.05
200314
 Date 1986-08-01
 Value 16.55
200315
 Date 1986-07-01
 Value 16.27
200316
 Date 1986-06-01
 Value 16.68
200317
 Date 1986-05-01
 Value 16.28
200318
 Date 1986-04-01
 Value 16.32
200319
 Date 1986-03-01
 Value 16.0
200320
 Date 1986-02-01
 Value 15.08
200321
 Date 1986-01-01
 Value 14.28
200322
 Date 1985-12-01
 Value 14.19
200323
 Date 1985-11-01
 Value 13.33
200324
 Date 1985-10-01
 Value 12.4
200325
 Date 1985-09-01
 Value 12.09
200326
 Date 1985-08-01
 Value 12.26
200327
 Date 1985-07-01
 Value 12.44
200328
 Date 1985-06-01
 Value 12.1
200329
 Date 1985-05-01
 Value 11.65
200330
 Date 1985-04-01
 Value 11.2
200331
 Date 1985-03-01
 Value 10.95
200332
 Date 1985-02-01
 Value 10.98
200333
 Date 1985-01-01
 Value 10.36
200334
 Date 1984-12-01
 Value 9.89
200335
 Date 1984-11-01
 Value 10.01
200336
 Date 1984-10-01
 Value 9.93
200337
 Date 1984-09-01
 Value 10.03
200338
 Date 1984-08-01
 Value 10.0
200339
 Date 1984-07-01
 Value 9.26
200340
 Date 1984-06-01
 Value 9.45
200341
 Date 1984-05-01
 Value 9.86
200342
 Date 1984-04-01
 Value 10.12
200343
 Date 1984-03-01
 Value 10.31
200344
 Date 1984-02-01
 Value 10.59
200345
 Date 1984-01-01
 Value 11.52
200346
 Date 1983-12-01
 Value 11.72
200347
 Date 1983-11-01
 Value 11.98
200348
 Date 1983-10-01
 Value 12.39
200349
 Date 1983-09-01
 Value 12.57
200350
 Date 1983-08-01
 Value 12.43
200351
 Date 1983-07-01
 Value 13.02
200352
 Date 1983-06-01
 Value 13.22
200353
 Date 1983-05-01
 Value 13.1
200354
 Date 1983-04-01
 Value 12.64
200355
 Date 1983-03-01
 Value 12.23
200356
 Date 1983-02-01
 Value 11.75
200357
 Date 1983-01-01
 Value 11.48
200358
 Date 1982-12-01
 Value 11.03
200359
 Date 1982-11-01
 Value 10.66
200360
 Date 1982-10-01
 Value 10.02
200361
 Date 1982-09-01
 Value 9.03
200362
 Date 1982-08-01
 Value 7.97
200363
 Date 1982-07-01
 Value 7.83
200364
 Date 1982-06-01
 Value 7.74
200365
 Date 1982-05-01
 Value 8.09
200366
 Date 1982-04-01
 Value 7.97
200367
 Date 1982-03-01
 Value 7.48
200368
 Date 1982-02-01
 Value 7.64
200369
 Date 1982-01-01
 Value 7.73
200370
 Date 1981-12-01
 Value 8.06
200371
 Date 1981-11-01
 Value 8.02
200372
 Date 1981-10-01
 Value 7.83
200373
 Date 1981-09-01
 Value 7.75
200374
 Date 1981-08-01
 Value 8.54
200375
 Date 1981-07-01
 Value 8.55
200376
 Date 1981-06-01
 Value 8.81
200377
 Date 1981-05-01
 Value 8.86
200378
 Date 1981-04-01
 Value 9.13
200379
 Date 1981-03-01
 Value 9.14
200380
 Date 1981-02-01
 Value 8.76
200381
 Date 1981-01-01
 Value 9.02
200382
 Date 1980-12-01
 Value 9.01
200383
 Date 1980-11-01
 Value 9.19
200384
 Date 1980-10-01
 Value 8.86
200385
 Date 1980-09-01
 Value 8.64
200386
 Date 1980-08-01
 Value 8.38
200387
 Date 1980-07-01
 Value 8.07
200388
 Date 1980-06-01
 Value 7.67
200389
 Date 1980-05-01
 Value 7.15
200390
 Date 1980-04-01
 Value 6.79
200391
 Date 1980-03-01
 Value 6.85
200392
 Date 1980-02-01
 Value 7.61
200393
 Date 1980-01-01
 Value 7.39
200394
 Date 1979-12-01
 Value 7.25
200395
 Date 1979-11-01
 Value 7.02
200396
 Date 1979-10-01
 Value 7.1
200397
 Date 1979-09-01
 Value 7.42
200398
 Date 1979-08-01
 Value 7.45
200399
 Date 1979-07-01
 Value 7.23
200400
 Date 1979-06-01
 Value 7.27
200401
 Date 1979-05-01
 Value 7.25
200402
 Date 1979-04-01
 Value 7.55
200403
 Date 1979-03-01
 Value 7.53
200404
 Date 1979-02-01
 Value 7.57
200405
 Date 1979-01-01
 Value 7.88
200406
 Date 1978-12-01
 Value 7.79
200407
 Date 1978-11-01
 Value 7.84
200408
 Date 1978-10-01
 Value 8.51
200409
 Date 1978-09-01
 Value 8.98
200410
 Date 1978-08-01
 Value 9.07
200411
 Date 1978-07-01
 Value 8.57
200412
 Date 1978-06-01
 Value 8.7
200413
 Date 1978-05-01
 Value 8.75
200414
 Date 1978-04-01
 Value 8.41
200415
 Date 1978-03-01
 Value 8.13
200416
 Date 1978-02-01
 Value 8.16
200417
 Date 1978-01-01
 Value 8.28
200418
 Date 1977-12-01
 Value 8.62
200419
 Date 1977-11-01
 Value 8.71
200420
 Date 1977-10-01
 Value 8.7
200421
 Date 1977-09-01
 Value 8.99
200422
 Date 1977-08-01
 Value 9.21
200423
 Date 1977-07-01
 Value 9.52
200424
 Date 1977-06-01
 Value 9.53
200425
 Date 1977-05-01
 Value 9.58
200426
 Date 1977-04-01
 Value 9.72
200427
 Date 1977-03-01
 Value 9.98
200428
 Date 1977-02-01
 Value 10.08
200429
 Date 1977-01-01
 Value 10.41
200430
 Date 1976-12-01
 Value 10.57
200431
 Date 1976-11-01
 Value 10.34
200432
 Date 1976-10-01
 Value 10.54
200433
 Date 1976-09-01
 Value 11.05
200434
 Date 1976-08-01
 Value 10.93
200435
 Date 1976-07-01
 Value 11.14
200436
 Date 1976-06-01
 Value 11.01
200437
 Date 1976-05-01
 Value 11.18
200438
 Date 1976-04-01
 Value 11.5
200439
 Date 1976-03-01
 Value 11.67
200440
 Date 1976-02-01
 Value 11.93
200441
 Date 1976-01-01
 Value 11.83
200442
 Date 1975-12-01
 Value 11.14
200443
 Date 1975-11-01
 Value 11.42
200444
 Date 1975-10-01
 Value 11.31
200445
 Date 1975-09-01
 Value 10.91
200446
 Date 1975-08-01
 Value 10.95
200447
 Date 1975-07-01
 Value 11.72
200448
 Date 1975-06-01
 Value 11.61
200449
 Date 1975-05-01
 Value 11.1
200450
 Date 1975-04-01
 Value 10.22
200451
 Date 1975-03-01
 Value 9.91
200452
 Date 1975-02-01
 Value 9.31
200453
 Date 1975-01-01
 Value 8.3
200454
 Date 1974-12-01
 Value 7.54
200455
 Date 1974-11-01
 Value 8.01
200456
 Date 1974-10-01
 Value 7.68
200457
 Date 1974-09-01
 Value 7.48
200458
 Date 1974-08-01
 Value 8.46
200459
 Date 1974-07-01
 Value 8.95
200460
 Date 1974-06-01
 Value 10.27
200461
 Date 1974-05-01
 Value 10.41
200462
 Date 1974-04-01
 Value 10.89
200463
 Date 1974-03-01
 Value 11.66
200464
 Date 1974-02-01
 Value 11.27
200465
 Date 1974-01-01
 Value 11.68
200466
 Date 1973-12-01
 Value 11.62
200467
 Date 1973-11-01
 Value 12.75
200468
 Date 1973-10-01
 Value 13.99
200469
 Date 1973-09-01
 Value 13.73
200470
 Date 1973-08-01
 Value 13.77
200471
 Date 1973-07-01
 Value 14.34
200472
 Date 1973-06-01
 Value 14.5
200473
 Date 1973-05-01
 Value 15.12
200474
 Date 1973-04-01
 Value 15.89
200475
 Date 1973-03-01
 Value 16.53
200476
 Date 1973-02-01
 Value 17.12
200477
 Date 1973-01-01
 Value 18.08
200478
 Date 1972-12-01
 Value 18.3
200479
 Date 1972-11-01
 Value 18.18
200480
 Date 1972-10-01
 Value 17.59
200481
 Date 1972-09-01
 Value 17.82
200482
 Date 1972-08-01
 Value 18.26
200483
 Date 1972-07-01
 Value 17.78
200484
 Date 1972-06-01
 Value 18.09
200485
 Date 1972-05-01
 Value 18.19
200486
 Date 1972-04-01
 Value 18.57
200487
 Date 1972-03-01
 Value 18.54
200488
 Date 1972-02-01
 Value 18.23
200489
 Date 1972-01-01
 Value 18.0
200490
 Date 1971-12-01
 Value 17.4
200491
 Date 1971-11-01
 Value 16.54
200492
 Date 1971-10-01
 Value 17.63
200493
 Date 1971-09-01
 Value 18.31
200494
 Date 1971-08-01
 Value 18.04
200495
 Date 1971-07-01
 Value 18.47
200496
 Date 1971-06-01
 Value 18.74
200497
 Date 1971-05-01
 Value 19.21
200498
 Date 1971-04-01
 Value 19.62
200499
 Date 1971-03-01
 Value 19.08
200500
 Date 1971-02-01
 Value 18.71
200501
 Date 1971-01-01
 Value 18.12
200502
 Date 1970-12-01
 Value 17.55
200503
 Date 1970-11-01
 Value 16.18
200504
 Date 1970-10-01
 Value 15.98
200505
 Date 1970-09-01
 Value 15.41
200506
 Date 1970-08-01
 Value 14.4
200507
 Date 1970-07-01
 Value 13.84
200508
 Date 1970-06-01
 Value 13.69
200509
 Date 1970-05-01
 Value 13.68
200510
 Date 1970-04-01
 Value 15.38
200511
 Date 1970-03-01
 Value 15.75
200512
 Date 1970-02-01
 Value 15.35
200513
 Date 1970-01-01
 Value 15.76
200514
 Date 1969-12-01
 Value 15.76
200515
 Date 1969-11-01
 Value 16.53
200516
 Date 1969-10-01
 Value 16.33
200517
 Date 1969-09-01
 Value 16.05
200518
 Date 1969-08-01
 Value 16.04
200519
 Date 1969-07-01
 Value 16.16
200520
 Date 1969-06-01
 Value 16.98
200521
 Date 1969-05-01
 Value 17.94
200522
 Date 1969-04-01
 Value 17.38
200523
 Date 1969-03-01
 Value 17.06
200524
 Date 1969-02-01
 Value 17.5
200525
 Date 1969-01-01
 Value 17.65
200526
 Date 1968-12-01
 Value 18.49
200527
 Date 1968-11-01
 Value 18.39
200528
 Date 1968-10-01
 Value 18.24
200529
 Date 1968-09-01
 Value 17.9
200530
 Date 1968-08-01
 Value 17.43
200531
 Date 1968-07-01
 Value 17.91
200532
 Date 1968-06-01
 Value 18.04
200533
 Date 1968-05-01
 Value 17.7
200534
 Date 1968-04-01
 Value 17.46
200535
 Date 1968-03-01
 Value 16.38
200536
 Date 1968-02-01
 Value 16.81
200537
 Date 1968-01-01
 Value 17.7
200538
 Date 1967-12-01
 Value 17.88
200539
 Date 1967-11-01
 Value 17.42
200540
 Date 1967-10-01
 Value 18.02
200541
 Date 1967-09-01
 Value 18.08
200542
 Date 1967-08-01
 Value 17.79
200543
 Date 1967-07-01
 Value 17.48
200544
 Date 1967-06-01
 Value 17.15
200545
 Date 1967-05-01
 Value 17.24
200546
 Date 1967-04-01
 Value 16.81
200547
 Date 1967-03-01
 Value 16.41
200548
 Date 1967-02-01
 Value 15.94
200549
 Date 1967-01-01
 Value 15.3
200550
 Date 1966-12-01
 Value 14.65
200551
 Date 1966-11-01
 Value 14.62
200552
 Date 1966-10-01
 Value 13.97
200553
 Date 1966-09-01
 Value 14.12
200554
 Date 1966-08-01
 Value 14.69
200555
 Date 1966-07-01
 Value 15.66
200556
 Date 1966-06-01
 Value 15.76
200557
 Date 1966-05-01
 Value 16.01
200558
 Date 1966-04-01
 Value 17.03
200559
 Date 1966-03-01
 Value 16.64
200560
 Date 1966-02-01
 Value 17.52
200561
 Date 1966-01-01
 Value 17.81
200562
 Date 1965-12-01
 Value 17.67
200563
 Date 1965-11-01
 Value 18.0
200564
 Date 1965-10-01
 Value 18.1
200565
 Date 1965-09-01
 Value 17.95
200566
 Date 1965-08-01
 Value 17.54
200567
 Date 1965-07-01
 Value 17.36
200568
 Date 1965-06-01
 Value 17.57
200569
 Date 1965-05-01
 Value 18.64
200570
 Date 1965-04-01
 Value 18.6
200571
 Date 1965-03-01
 Value 18.55
200572
 Date 1965-02-01
 Value 18.7
200573
 Date 1965-01-01
 Value 18.76
200574
 Date 1964-12-01
 Value 18.45
200575
 Date 1964-11-01
 Value 18.9
200576
 Date 1964-10-01
 Value 18.86
200577
 Date 1964-09-01
 Value 18.66
200578
 Date 1964-08-01
 Value 18.55
200579
 Date 1964-07-01
 Value 19.0
200580
 Date 1964-06-01
 Value 18.53
200581
 Date 1964-05-01
 Value 18.86
200582
 Date 1964-04-01
 Value 18.9
200583
 Date 1964-03-01
 Value 18.85
200584
 Date 1964-02-01
 Value 18.74
200585
 Date 1964-01-01
 Value 18.78
200586
 Date 1963-12-01
 Value 18.45
200587
 Date 1963-11-01
 Value 18.16
200588
 Date 1963-10-01
 Value 18.35
200589
 Date 1963-09-01
 Value 18.4
200590
 Date 1963-08-01
 Value 18.11
200591
 Date 1963-07-01
 Value 17.8
200592
 Date 1963-06-01
 Value 18.26
200593
 Date 1963-05-01
 Value 18.46
200594
 Date 1963-04-01
 Value 18.34
200595
 Date 1963-03-01
 Value 17.7
200596
 Date 1963-02-01
 Value 17.82
200597
 Date 1963-01-01
 Value 17.68
200598
 Date 1962-12-01
 Value 17.07
200599
 Date 1962-11-01
 Value 16.59
200600
 Date 1962-10-01
 Value 15.69
200601
 Date 1962-09-01
 Value 16.43
200602
 Date 1962-08-01
 Value 16.67
200603
 Date 1962-07-01
 Value 16.32
200604
 Date 1962-06-01
 Value 16.03
200605
 Date 1962-05-01
 Value 18.31
200606
 Date 1962-04-01
 Value 20.01
200607
 Date 1962-03-01
 Value 20.86
200608
 Date 1962-02-01
 Value 21.21
200609
 Date 1962-01-01
 Value 21.25
200610
 Date 1961-12-01
 Value 22.49
200611
 Date 1961-11-01
 Value 22.64
200612
 Date 1961-10-01
 Value 21.94
200613
 Date 1961-09-01
 Value 22.05
200614
 Date 1961-08-01
 Value 22.3
200615
 Date 1961-07-01
 Value 21.53
200616
 Date 1961-06-01
 Value 21.66
200617
 Date 1961-05-01
 Value 21.8
200618
 Date 1961-04-01
 Value 21.44
200619
 Date 1961-03-01
 Value 20.75
200620
 Date 1961-02-01
 Value 19.74
200621
 Date 1961-01-01
 Value 18.6
200622
 Date 1960-12-01
 Value 17.37
200623
 Date 1960-11-01
 Value 16.96
200624
 Date 1960-10-01
 Value 16.43
200625
 Date 1960-09-01
 Value 16.76
200626
 Date 1960-08-01
 Value 17.28
200627
 Date 1960-07-01
 Value 17.13
200628
 Date 1960-06-01
 Value 17.56
200629
 Date 1960-05-01
 Value 16.73
200630
 Date 1960-04-01
 Value 16.64
200631
 Date 1960-03-01
 Value 16.23
200632
 Date 1960-02-01
 Value 16.45
200633
 Date 1960-01-01
 Value 17.12
200634
 Date 1959-12-01
 Value 17.42
200635
 Date 1959-11-01
 Value 16.83
200636
 Date 1959-10-01
 Value 16.67
200637
 Date 1959-09-01
 Value 16.63
200638
 Date 1959-08-01
 Value 17.37
200639
 Date 1959-07-01
 Value 17.52
200640
 Date 1959-06-01
 Value 16.9
200641
 Date 1959-05-01
 Value 17.56
200642
 Date 1959-04-01
 Value 17.79
200643
 Date 1959-03-01
 Value 18.06
200644
 Date 1959-02-01
 Value 18.02
200645
 Date 1959-01-01
 Value 18.79
200646
 Date 1958-12-01
 Value 18.51
200647
 Date 1958-11-01
 Value 18.17
200648
 Date 1958-10-01
 Value 17.69
200649
 Date 1958-09-01
 Value 17.0
200650
 Date 1958-08-01
 Value 16.45
200651
 Date 1958-07-01
 Value 15.8
200652
 Date 1958-06-01
 Value 15.27
200653
 Date 1958-05-01
 Value 14.57
200654
 Date 1958-04-01
 Value 13.79
200655
 Date 1958-03-01
 Value 13.41
200656
 Date 1958-02-01
 Value 12.81
200657
 Date 1958-01-01
 Value 12.5
200658
 Date 1957-12-01
 Value 11.97
200659
 Date 1957-11-01
 Value 11.87
200660
 Date 1957-10-01
 Value 11.99
200661
 Date 1957-09-01
 Value 12.67
200662
 Date 1957-08-01
 Value 13.29
200663
 Date 1957-07-01
 Value 14.1
200664
 Date 1957-06-01
 Value 13.9
200665
 Date 1957-05-01
 Value 13.72
200666
 Date 1957-04-01
 Value 13.21
200667
 Date 1957-03-01
 Value 12.95
200668
 Date 1957-02-01
 Value 12.79
200669
 Date 1957-01-01
 Value 13.32
200670
 Date 1956-12-01
 Value 13.62
200671
 Date 1956-11-01
 Value 13.34
200672
 Date 1956-10-01
 Value 13.44
200673
 Date 1956-09-01
 Value 13.54
200674
 Date 1956-08-01
 Value 13.81
200675
 Date 1956-07-01
 Value 13.74
200676
 Date 1956-06-01
 Value 12.85
200677
 Date 1956-05-01
 Value 12.82
200678
 Date 1956-04-01
 Value 13.13
200679
 Date 1956-03-01
 Value 12.87
200680
 Date 1956-02-01
 Value 12.11
200681
 Date 1956-01-01
 Value 12.13
200682
 Date 1955-12-01
 Value 12.53
200683
 Date 1955-11-01
 Value 12.63
200684
 Date 1955-10-01
 Value 12.03
200685
 Date 1955-09-01
 Value 12.89
200686
 Date 1955-08-01
 Value 12.59
200687
 Date 1955-07-01
 Value 12.98
200688
 Date 1955-06-01
 Value 12.35
200689
 Date 1955-05-01
 Value 12.01
200690
 Date 1955-04-01
 Value 12.38
200691
 Date 1955-03-01
 Value 12.33
200692
 Date 1955-02-01
 Value 12.69
200693
 Date 1955-01-01
 Value 12.58
200694
 Date 1954-12-01
 Value 12.62
200695
 Date 1954-11-01
 Value 12.29
200696
 Date 1954-10-01
 Value 12.01
200697
 Date 1954-09-01
 Value 11.96
200698
 Date 1954-08-01
 Value 11.68
200699
 Date 1954-07-01
 Value 11.5
200700
 Date 1954-06-01
 Value 11.05
200701
 Date 1954-05-01
 Value 11.05
200702
 Date 1954-04-01
 Value 10.75
200703
 Date 1954-03-01
 Value 10.42
200704
 Date 1954-02-01
 Value 10.24
200705
 Date 1954-01-01
 Value 10.1
200706
 Date 1953-12-01
 Value 9.89
200707
 Date 1953-11-01
 Value 9.72
200708
 Date 1953-10-01
 Value 9.44
200709
 Date 1953-09-01
 Value 9.13
200710
 Date 1953-08-01
 Value 9.6
200711
 Date 1953-07-01
 Value 9.64
200712
 Date 1953-06-01
 Value 9.54
200713
 Date 1953-05-01
 Value 10.02
200714
 Date 1953-04-01
 Value 10.04
200715
 Date 1953-03-01
 Value 10.7
200716
 Date 1953-02-01
 Value 10.69
200717
 Date 1953-01-01
 Value 10.86
200718
 Date 1952-12-01
 Value 10.85
200719
 Date 1952-11-01
 Value 10.47
200720
 Date 1952-10-01
 Value 10.24
200721
 Date 1952-09-01
 Value 10.5
200722
 Date 1952-08-01
 Value 10.71
200723
 Date 1952-07-01
 Value 10.67
200724
 Date 1952-06-01
 Value 10.42
200725
 Date 1952-05-01
 Value 10.06
200726
 Date 1952-04-01
 Value 9.97
200727
 Date 1952-03-01
 Value 9.92
200728
 Date 1952-02-01
 Value 9.85
200729
 Date 1952-01-01
 Value 9.95
200730
 Date 1951-12-01
 Value 9.59
200731
 Date 1951-11-01
 Value 9.23
200732
 Date 1951-10-01
 Value 9.38
200733
 Date 1951-09-01
 Value 9.35
200734
 Date 1951-08-01
 Value 8.87
200735
 Date 1951-07-01
 Value 8.28
200736
 Date 1951-06-01
 Value 7.92
200737
 Date 1951-05-01
 Value 7.95
200738
 Date 1951-04-01
 Value 7.86
200739
 Date 1951-03-01
 Value 7.64
200740
 Date 1951-02-01
 Value 7.77
200741
 Date 1951-01-01
 Value 7.47
200742
 Date 1950-12-01
 Value 6.95
200743
 Date 1950-11-01
 Value 7.08
200744
 Date 1950-10-01
 Value 7.2
200745
 Date 1950-09-01
 Value 7.01
200746
 Date 1950-08-01
 Value 6.93
200747
 Date 1950-07-01
 Value 6.68
200748
 Date 1950-06-01
 Value 7.38
200749
 Date 1950-05-01
 Value 7.44
200750
 Date 1950-04-01
 Value 7.34
200751
 Date 1950-03-01
 Value 7.32
200752
 Date 1950-02-01
 Value 7.32
200753
 Date 1950-01-01
 Value 7.21
200754
 Date 1949-12-01
 Value 7.13
200755
 Date 1949-11-01
 Value 6.88
200756
 Date 1949-10-01
 Value 6.7
200757
 Date 1949-09-01
 Value 6.48
200758
 Date 1949-08-01
 Value 6.4
200759
 Date 1949-07-01
 Value 6.15
200760
 Date 1949-06-01
 Value 5.82
200761
 Date 1949-05-01
 Value 6.18
200762
 Date 1949-04-01
 Value 6.23
200763
 Date 1949-03-01
 Value 6.26
200764
 Date 1949-02-01
 Value 6.29
200765
 Date 1949-01-01
 Value 6.62
200766
 Date 1948-12-01
 Value 6.63
200767
 Date 1948-11-01
 Value 6.89
200768
 Date 1948-10-01
 Value 7.57
200769
 Date 1948-09-01
 Value 7.61
200770
 Date 1948-08-01
 Value 7.97
200771
 Date 1948-07-01
 Value 8.51
200772
 Date 1948-06-01
 Value 9.04
200773
 Date 1948-05-01
 Value 8.92
200774
 Date 1948-04-01
 Value 8.75
200775
 Date 1948-03-01
 Value 8.36
200776
 Date 1948-02-01
 Value 8.39
200777
 Date 1948-01-01
 Value 9.04
200778
 Date 1947-12-01
 Value 9.34
200779
 Date 1947-11-01
 Value 9.6
200780
 Date 1947-10-01
 Value 9.84
200781
 Date 1947-09-01
 Value 9.72
200782
 Date 1947-08-01
 Value 10.24
200783
 Date 1947-07-01
 Value 10.66
200784
 Date 1947-06-01
 Value 10.31
200785
 Date 1947-05-01
 Value 10.39
200786
 Date 1947-04-01
 Value 10.98
200787
 Date 1947-03-01
 Value 11.94
200788
 Date 1947-02-01
 Value 13.17
200789
 Date 1947-01-01
 Value 13.46
200790
 Date 1946-12-01
 Value 14.27
200791
 Date 1946-11-01
 Value 14.69
200792
 Date 1946-10-01
 Value 15.53
200793
 Date 1946-09-01
 Value 16.96
200794
 Date 1946-08-01
 Value 20.34
200795
 Date 1946-07-01
 Value 20.99
200796
 Date 1946-06-01
 Value 22.12
200797
 Date 1946-05-01
 Value 21.74
200798
 Date 1946-04-01
 Value 21.2
200799
 Date 1946-03-01
 Value 19.48
200800
 Date 1946-02-01
 Value 19.64
200801
 Date 1946-01-01
 Value 19.17
200802
 Date 1945-12-01
 Value 18.05
200803
 Date 1945-11-01
 Value 17.57
200804
 Date 1945-10-01
 Value 16.84
200805
 Date 1945-09-01
 Value 16.0
200806
 Date 1945-08-01
 Value 14.98
200807
 Date 1945-07-01
 Value 14.78
200808
 Date 1945-06-01
 Value 15.09
200809
 Date 1945-05-01
 Value 14.97
200810
 Date 1945-04-01
 Value 14.72
200811
 Date 1945-03-01
 Value 14.51
200812
 Date 1945-02-01
 Value 14.67
200813
 Date 1945-01-01
 Value 14.35
200814
 Date 1944-12-01
 Value 14.09
200815
 Date 1944-11-01
 Value 13.93
200816
 Date 1944-10-01
 Value 14.19
200817
 Date 1944-09-01
 Value 14.0
200818
 Date 1944-08-01
 Value 14.08
200819
 Date 1944-07-01
 Value 14.29
200820
 Date 1944-06-01
 Value 13.77
200821
 Date 1944-05-01
 Value 13.15
200822
 Date 1944-04-01
 Value 12.78
200823
 Date 1944-03-01
 Value 13.01
200824
 Date 1944-02-01
 Value 12.66
200825
 Date 1944-01-01
 Value 12.61
200826
 Date 1943-12-01
 Value 12.21
200827
 Date 1943-11-01
 Value 11.44
200828
 Date 1943-10-01
 Value 11.53
200829
 Date 1943-09-01
 Value 11.1
200830
 Date 1943-08-01
 Value 10.77
200831
 Date 1943-07-01
 Value 11.33
200832
 Date 1943-06-01
 Value 11.0
200833
 Date 1943-05-01
 Value 10.91
200834
 Date 1943-04-01
 Value 10.59
200835
 Date 1943-03-01
 Value 10.35
200836
 Date 1943-02-01
 Value 10.08
200837
 Date 1943-01-01
 Value 9.7
200838
 Date 1942-12-01
 Value 9.24
200839
 Date 1942-11-01
 Value 9.47
200840
 Date 1942-10-01
 Value 9.61
200841
 Date 1942-09-01
 Value 9.23
200842
 Date 1942-08-01
 Value 9.04
200843
 Date 1942-07-01
 Value 8.91
200844
 Date 1942-06-01
 Value 8.5
200845
 Date 1942-05-01
 Value 7.93
200846
 Date 1942-04-01
 Value 7.69
200847
 Date 1942-03-01
 Value 7.87
200848
 Date 1942-02-01
 Value 8.01
200849
 Date 1942-01-01
 Value 7.97
200850
 Date 1941-12-01
 Value 7.55
200851
 Date 1941-11-01
 Value 8.01
200852
 Date 1941-10-01
 Value 8.33
200853
 Date 1941-09-01
 Value 8.61
200854
 Date 1941-08-01
 Value 8.8
200855
 Date 1941-07-01
 Value 9.16
200856
 Date 1941-06-01
 Value 8.95
200857
 Date 1941-05-01
 Value 8.73
200858
 Date 1941-04-01
 Value 9.01
200859
 Date 1941-03-01
 Value 9.39
200860
 Date 1941-02-01
 Value 9.33
200861
 Date 1941-01-01
 Value 10.05
200862
 Date 1940-12-01
 Value 10.03
200863
 Date 1940-11-01
 Value 10.36
200864
 Date 1940-10-01
 Value 10.03
200865
 Date 1940-09-01
 Value 9.84
200866
 Date 1940-08-01
 Value 9.53
200867
 Date 1940-07-01
 Value 9.51
200868
 Date 1940-06-01
 Value 9.3
200869
 Date 1940-05-01
 Value 10.37
200870
 Date 1940-04-01
 Value 12.15
200871
 Date 1940-03-01
 Value 12.27
200872
 Date 1940-02-01
 Value 12.73
200873
 Date 1940-01-01
 Value 13.23
200874
 Date 1939-12-01
 Value 13.74
200875
 Date 1939-11-01
 Value 14.56
200876
 Date 1939-10-01
 Value 15.36
200877
 Date 1939-09-01
 Value 15.77
200878
 Date 1939-08-01
 Value 14.61
200879
 Date 1939-07-01
 Value 15.01
200880
 Date 1939-06-01
 Value 15.04
200881
 Date 1939-05-01
 Value 15.18
200882
 Date 1939-04-01
 Value 14.84
200883
 Date 1939-03-01
 Value 17.45
200884
 Date 1939-02-01
 Value 17.97
200885
 Date 1939-01-01
 Value 18.94
200886
 Date 1938-12-01
 Value 19.83
200887
 Date 1938-11-01
 Value 20.75
200888
 Date 1938-10-01
 Value 20.73
200889
 Date 1938-09-01
 Value 18.95
200890
 Date 1938-08-01
 Value 18.37
200891
 Date 1938-07-01
 Value 17.0
200892
 Date 1938-06-01
 Value 13.26
200893
 Date 1938-05-01
 Value 11.88
200894
 Date 1938-04-01
 Value 10.99
200895
 Date 1938-03-01
 Value 10.63
200896
 Date 1938-02-01
 Value 10.82
200897
 Date 1938-01-01
 Value 10.47
200898
 Date 1937-12-01
 Value 9.75
200899
 Date 1937-11-01
 Value 9.66
200900
 Date 1937-10-01
 Value 10.32
200901
 Date 1937-09-01
 Value 11.78
200902
 Date 1937-08-01
 Value 13.95
200903
 Date 1937-07-01
 Value 13.92
200904
 Date 1937-06-01
 Value 13.37
200905
 Date 1937-05-01
 Value 14.13
200906
 Date 1937-04-01
 Value 15.05
200907
 Date 1937-03-01
 Value 16.3
200908
 Date 1937-02-01
 Value 16.77
200909
 Date 1937-01-01
 Value 16.75
200910
 Date 1936-12-01
 Value 16.73
200911
 Date 1936-11-01
 Value 17.54
200912
 Date 1936-10-01
 Value 17.41
200913
 Date 1936-09-01
 Value 17.07
200914
 Date 1936-08-01
 Value 17.25
200915
 Date 1936-07-01
 Value 17.29
200916
 Date 1936-06-01
 Value 16.69
200917
 Date 1936-05-01
 Value 16.58
200918
 Date 1936-04-01
 Value 18.15
200919
 Date 1936-03-01
 Value 18.81
200920
 Date 1936-02-01
 Value 18.65
200921
 Date 1936-01-01
 Value 17.87
200922
 Date 1935-12-01
 Value 17.16
200923
 Date 1935-11-01
 Value 17.16
200924
 Date 1935-10-01
 Value 15.68
200925
 Date 1935-09-01
 Value 15.28
200926
 Date 1935-08-01
 Value 14.58
200927
 Date 1935-07-01
 Value 13.48
200928
 Date 1935-06-01
 Value 12.49
200929
 Date 1935-05-01
 Value 12.5
200930
 Date 1935-04-01
 Value 11.89
200931
 Date 1935-03-01
 Value 11.52
200932
 Date 1935-02-01
 Value 13.82
200933
 Date 1935-01-01
 Value 16.25
200934
 Date 1934-12-01
 Value 18.9
200935
 Date 1934-11-01
 Value 18.78
200936
 Date 1934-10-01
 Value 18.65
200937
 Date 1934-09-01
 Value 18.5
200938
 Date 1934-08-01
 Value 19.36
200939
 Date 1934-07-01
 Value 20.15
200940
 Date 1934-06-01
 Value 21.15
200941
 Date 1934-05-01
 Value 21.33
200942
 Date 1934-04-01
 Value 23.74
200943
 Date 1934-03-01
 Value 23.87
200944
 Date 1934-02-01
 Value 25.16
200945
 Date 1934-01-01
 Value 23.95
200946
 Date 1933-12-01
 Value 22.66
200947
 Date 1933-11-01
 Value 22.23
200948
 Date 1933-10-01
 Value 21.7
200949
 Date 1933-09-01
 Value 24.6
200950
 Date 1933-08-01
 Value 24.81
200951
 Date 1933-07-01
 Value 26.12
200952
 Date 1933-06-01
 Value 24.16
200953
 Date 1933-05-01
 Value 21.12
200954
 Date 1933-04-01
 Value 16.4
200955
 Date 1933-03-01
 Value 14.83
200956
 Date 1933-02-01
 Value 14.88
200957
 Date 1933-01-01
 Value 17.29
200958
 Date 1932-12-01
 Value 16.63
200959
 Date 1932-11-01
 Value 16.4
200960
 Date 1932-10-01
 Value 16.18
200961
 Date 1932-09-01
 Value 17.96
200962
 Date 1932-08-01
 Value 15.69
200963
 Date 1932-07-01
 Value 10.22
200964
 Date 1932-06-01
 Value 9.35
200965
 Date 1932-05-01
 Value 10.4
200966
 Date 1932-04-01
 Value 11.63
200967
 Date 1932-03-01
 Value 14.75
200968
 Date 1932-02-01
 Value 14.19
200969
 Date 1932-01-01
 Value 14.07
200970
 Date 1931-12-01
 Value 13.84
200971
 Date 1931-11-01
 Value 16.23
200972
 Date 1931-10-01
 Value 15.3
200973
 Date 1931-09-01
 Value 16.9
200974
 Date 1931-08-01
 Value 19.04
200975
 Date 1931-07-01
 Value 18.86
200976
 Date 1931-06-01
 Value 17.56
200977
 Date 1931-05-01
 Value 17.48
200978
 Date 1931-04-01
 Value 18.66
200979
 Date 1931-03-01
 Value 19.92
200980
 Date 1931-02-01
 Value 18.9
200981
 Date 1931-01-01
 Value 17.0
200982
 Date 1930-12-01
 Value 15.99
200983
 Date 1930-11-01
 Value 16.29
200984
 Date 1930-10-01
 Value 16.59
200985
 Date 1930-09-01
 Value 18.39
200986
 Date 1930-08-01
 Value 17.62
200987
 Date 1930-07-01
 Value 16.98
200988
 Date 1930-06-01
 Value 16.68
200989
 Date 1930-05-01
 Value 17.87
200990
 Date 1930-04-01
 Value 18.19
200991
 Date 1930-03-01
 Value 16.51
200992
 Date 1930-02-01
 Value 15.38
200993
 Date 1930-01-01
 Value 13.92
200994
 Date 1929-12-01
 Value 13.29
200995
 Date 1929-11-01
 Value 12.94
200996
 Date 1929-10-01
 Value 17.83
200997
 Date 1929-09-01
 Value 20.19
200998
 Date 1929-08-01
 Value 19.67
200999
 Date 1929-07-01
 Value 18.86
201000
 Date 1929-06-01
 Value 17.43
201001
 Date 1929-05-01
 Value 17.34
201002
 Date 1929-04-01
 Value 17.32
201003
 Date 1929-03-01
 Value 17.66
201004
 Date 1929-02-01
 Value 17.6
201005
 Date 1929-01-01
 Value 17.76
201006
 Date 1928-12-01
 Value 16.78
201007
 Date 1928-11-01
 Value 16.96
201008
 Date 1928-10-01
 Value 16.12
201009
 Date 1928-09-01
 Value 16.16
201010
 Date 1928-08-01
 Value 15.33
201011
 Date 1928-07-01
 Value 15.09
201012
 Date 1928-06-01
 Value 15.22
201013
 Date 1928-05-01
 Value 16.39
201014
 Date 1928-04-01
 Value 16.17
201015
 Date 1928-03-01
 Value 15.47
201016
 Date 1928-02-01
 Value 14.93
201017
 Date 1928-01-01
 Value 15.51
201018
 Date 1927-12-01
 Value 15.73
201019
 Date 1927-11-01
 Value 15.23
201020
 Date 1927-10-01
 Value 14.76
201021
 Date 1927-09-01
 Value 14.86
201022
 Date 1927-08-01
 Value 13.94
201023
 Date 1927-07-01
 Value 13.12
201024
 Date 1927-06-01
 Value 12.62
201025
 Date 1927-05-01
 Value 12.35
201026
 Date 1927-04-01
 Value 11.84
201027
 Date 1927-03-01
 Value 11.46
201028
 Date 1927-02-01
 Value 11.2
201029
 Date 1927-01-01
 Value 10.89
201030
 Date 1926-12-01
 Value 10.88
201031
 Date 1926-11-01
 Value 10.64
201032
 Date 1926-10-01
 Value 10.5
201033
 Date 1926-09-01
 Value 10.74
201034
 Date 1926-08-01
 Value 10.58
201035
 Date 1926-07-01
 Value 10.18
201036
 Date 1926-06-01
 Value 9.69
201037
 Date 1926-05-01
 Value 9.25
201038
 Date 1926-04-01
 Value 9.18
201039
 Date 1926-03-01
 Value 9.45
201040
 Date 1926-02-01
 Value 10.14
201041
 Date 1926-01-01
 Value 10.12
201042
 Date 1925-12-01
 Value 9.97
201043
 Date 1925-11-01
 Value 10.05
201044
 Date 1925-10-01
 Value 9.91
201045
 Date 1925-09-01
 Value 9.84
201046
 Date 1925-08-01
 Value 9.87
201047
 Date 1925-07-01
 Value 9.91
201048
 Date 1925-06-01
 Value 9.91
201049
 Date 1925-05-01
 Value 10.01
201050
 Date 1925-04-01
 Value 9.88
201051
 Date 1925-03-01
 Value 10.29
201052
 Date 1925-02-01
 Value 10.89
201053
 Date 1925-01-01
 Value 11.02
201054
 Date 1924-12-01
 Value 10.92
201055
 Date 1924-11-01
 Value 10.37
201056
 Date 1924-10-01
 Value 9.71
201057
 Date 1924-09-01
 Value 9.84
201058
 Date 1924-08-01
 Value 9.83
201059
 Date 1924-07-01
 Value 9.51
201060
 Date 1924-06-01
 Value 8.99
201061
 Date 1924-05-01
 Value 8.82
201062
 Date 1924-04-01
 Value 8.85
201063
 Date 1924-03-01
 Value 8.97
201064
 Date 1924-02-01
 Value 9.14
201065
 Date 1924-01-01
 Value 9.01
201066
 Date 1923-12-01
 Value 8.72
201067
 Date 1923-11-01
 Value 8.61
201068
 Date 1923-10-01
 Value 8.63
201069
 Date 1923-09-01
 Value 8.96
201070
 Date 1923-08-01
 Value 9.2
201071
 Date 1923-07-01
 Value 9.37
201072
 Date 1923-06-01
 Value 9.93
201073
 Date 1923-05-01
 Value 10.7
201074
 Date 1923-04-01
 Value 11.52
201075
 Date 1923-03-01
 Value 12.41
201076
 Date 1923-02-01
 Value 12.54
201077
 Date 1923-01-01
 Value 12.54
201078
 Date 1922-12-01
 Value 12.72
201079
 Date 1922-11-01
 Value 13.33
201080
 Date 1922-10-01
 Value 14.94
201081
 Date 1922-09-01
 Value 15.36
201082
 Date 1922-08-01
 Value 15.77
201083
 Date 1922-07-01
 Value 16.37
201084
 Date 1922-06-01
 Value 17.24
201085
 Date 1922-05-01
 Value 18.54
201086
 Date 1922-04-01
 Value 19.55
201087
 Date 1922-03-01
 Value 19.85
201088
 Date 1922-02-01
 Value 20.72
201089
 Date 1922-01-01
 Value 22.81
201090
 Date 1921-12-01
 Value 25.21
201091
 Date 1921-11-01
 Value 21.39
201092
 Date 1921-10-01
 Value 17.63
201093
 Date 1921-09-01
 Value 15.74
201094
 Date 1921-08-01
 Value 14.02
201095
 Date 1921-07-01
 Value 13.06
201096
 Date 1921-06-01
 Value 11.91
201097
 Date 1921-05-01
 Value 12.07
201098
 Date 1921-04-01
 Value 10.97
201099
 Date 1921-03-01
 Value 10.27
201100
 Date 1921-02-01
 Value 9.81
201101
 Date 1921-01-01
 Value 9.36
201102
 Date 1920-12-01
 Value 8.51
201103
 Date 1920-11-01
 Value 9.23
201104
 Date 1920-10-01
 Value 9.61
201105
 Date 1920-09-01
 Value 9.48
201106
 Date 1920-08-01
 Value 9.05
201107
 Date 1920-07-01
 Value 9.31
201108
 Date 1920-06-01
 Value 9.1
201109
 Date 1920-05-01
 Value 9.16
201110
 Date 1920-04-01
 Value 9.66
201111
 Date 1920-03-01
 Value 9.63
201112
 Date 1920-02-01
 Value 8.9
201113
 Date 1920-01-01
 Value 9.6
201114
 Date 1919-12-01
 Value 9.59
201115
 Date 1919-11-01
 Value 9.78
201116
 Date 1919-10-01
 Value 10.07
201117
 Date 1919-09-01
 Value 9.48
201118
 Date 1919-08-01
 Value 9.34
201119
 Date 1919-07-01
 Value 9.91
201120
 Date 1919-06-01
 Value 9.59
201121
 Date 1919-05-01
 Value 9.25
201122
 Date 1919-04-01
 Value 8.65
201123
 Date 1919-03-01
 Value 8.29
201124
 Date 1919-02-01
 Value 8.04
201125
 Date 1919-01-01
 Value 7.93
201126
 Date 1918-12-01
 Value 7.98
201127
 Date 1918-11-01
 Value 7.98
201128
 Date 1918-10-01
 Value 7.56
201129
 Date 1918-09-01
 Value 7.11
201130
 Date 1918-08-01
 Value 6.95
201131
 Date 1918-07-01
 Value 6.77
201132
 Date 1918-06-01
 Value 6.54
201133
 Date 1918-05-01
 Value 6.41
201134
 Date 1918-04-01
 Value 6.11
201135
 Date 1918-03-01
 Value 6.02
201136
 Date 1918-02-01
 Value 6.04
201137
 Date 1918-01-01
 Value 5.72
201138
 Date 1917-12-01
 Value 5.31
201139
 Date 1917-11-01
 Value 5.42
201140
 Date 1917-10-01
 Value 5.82
201141
 Date 1917-09-01
 Value 6.06
201142
 Date 1917-08-01
 Value 6.27
201143
 Date 1917-07-01
 Value 6.37
201144
 Date 1917-06-01
 Value 6.41
201145
 Date 1917-05-01
 Value 6.2
201146
 Date 1917-04-01
 Value 6.32
201147
 Date 1917-03-01
 Value 6.33
201148
 Date 1917-02-01
 Value 6.06
201149
 Date 1917-01-01
 Value 6.34
201150
 Date 1916-12-01
 Value 6.41
201151
 Date 1916-11-01
 Value 6.9
201152
 Date 1916-10-01
 Value 7.03
201153
 Date 1916-09-01
 Value 7.07
201154
 Date 1916-08-01
 Value 7.1
201155
 Date 1916-07-01
 Value 7.33
201156
 Date 1916-06-01
 Value 7.74
201157
 Date 1916-05-01
 Value 8.06
201158
 Date 1916-04-01
 Value 8.25
201159
 Date 1916-03-01
 Value 8.82
201160
 Date 1916-02-01
 Value 9.29
201161
 Date 1916-01-01
 Value 10.03
201162
 Date 1915-12-01
 Value 10.77
201163
 Date 1915-11-01
 Value 11.13
201164
 Date 1915-10-01
 Value 11.15
201165
 Date 1915-09-01
 Value 10.96
201166
 Date 1915-08-01
 Value 10.99
201167
 Date 1915-07-01
 Value 10.97
201168
 Date 1915-06-01
 Value 11.49
201169
 Date 1915-05-01
 Value 11.87
201170
 Date 1915-04-01
 Value 12.72
201171
 Date 1915-03-01
 Value 12.41
201172
 Date 1915-02-01
 Value 12.72
201173
 Date 1915-01-01
 Value 13.6
201174
 Date 1914-12-01
 Value 14.13
201175
 Date 1914-11-01
 Value 14.49
201176
 Date 1914-10-01
 Value 14.22
201177
 Date 1914-09-01
 Value 13.96
201178
 Date 1914-08-01
 Value 13.71
201179
 Date 1914-07-01
 Value 13.47
201180
 Date 1914-06-01
 Value 14.02
201181
 Date 1914-05-01
 Value 14.09
201182
 Date 1914-04-01
 Value 13.76
201183
 Date 1914-03-01
 Value 13.87
201184
 Date 1914-02-01
 Value 13.9
201185
 Date 1914-01-01
 Value 13.5
201186
 Date 1913-12-01
 Value 12.76
201187
 Date 1913-11-01
 Value 12.58
201188
 Date 1913-10-01
 Value 12.91
201189
 Date 1913-09-01
 Value 13.12
201190
 Date 1913-08-01
 Value 13.0
201191
 Date 1913-07-01
 Value 12.47
201192
 Date 1913-06-01
 Value 12.12
201193
 Date 1913-05-01
 Value 12.76
201194
 Date 1913-04-01
 Value 12.93
201195
 Date 1913-03-01
 Value 12.94
201196
 Date 1913-02-01
 Value 13.0
201197
 Date 1913-01-01
 Value 13.48
201198
 Date 1912-12-01
 Value 13.4
201199
 Date 1912-11-01
 Value 14.1
201200
 Date 1912-10-01
 Value 14.47
201201
 Date 1912-09-01
 Value 14.72
201202
 Date 1912-08-01
 Value 14.86
201203
 Date 1912-07-01
 Value 14.75
201204
 Date 1912-06-01
 Value 14.74
201205
 Date 1912-05-01
 Value 14.97
201206
 Date 1912-04-01
 Value 15.22
201207
 Date 1912-03-01
 Value 15.0
201208
 Date 1912-02-01
 Value 14.82
201209
 Date 1912-01-01
 Value 15.2
201210
 Date 1911-12-01
 Value 15.44
201211
 Date 1911-11-01
 Value 15.12
201212
 Date 1911-10-01
 Value 14.3
201213
 Date 1911-09-01
 Value 13.76
201214
 Date 1911-08-01
 Value 14.33
201215
 Date 1911-07-01
 Value 14.82
201216
 Date 1911-06-01
 Value 14.65
201217
 Date 1911-05-01
 Value 14.15
201218
 Date 1911-04-01
 Value 13.65
201219
 Date 1911-03-01
 Value 13.31
201220
 Date 1911-02-01
 Value 13.28
201221
 Date 1911-01-01
 Value 12.88
201222
 Date 1910-12-01
 Value 12.4
201223
 Date 1910-11-01
 Value 12.75
201224
 Date 1910-10-01
 Value 12.59
201225
 Date 1910-09-01
 Value 12.04
201226
 Date 1910-08-01
 Value 11.96
201227
 Date 1910-07-01
 Value 11.68
201228
 Date 1910-06-01
 Value 12.13
201229
 Date 1910-05-01
 Value 12.75
201230
 Date 1910-04-01
 Value 12.96
201231
 Date 1910-03-01
 Value 13.28
201232
 Date 1910-02-01
 Value 12.79
201233
 Date 1910-01-01
 Value 13.26
201234
 Date 1909-12-01
 Value 13.55
201235
 Date 1909-11-01
 Value 13.57
201236
 Date 1909-10-01
 Value 14.01
201237
 Date 1909-09-01
 Value 14.15
201238
 Date 1909-08-01
 Value 14.54
201239
 Date 1909-07-01
 Value 14.41
201240
 Date 1909-06-01
 Value 14.63
201241
 Date 1909-05-01
 Value 14.59
201242
 Date 1909-04-01
 Value 14.56
201243
 Date 1909-03-01
 Value 14.16
201244
 Date 1909-02-01
 Value 14.43
201245
 Date 1909-01-01
 Value 15.1
201246
 Date 1908-12-01
 Value 15.57
201247
 Date 1908-11-01
 Value 14.97
201248
 Date 1908-10-01
 Value 14.02
201249
 Date 1908-09-01
 Value 13.62
201250
 Date 1908-08-01
 Value 13.54
201251
 Date 1908-07-01
 Value 12.98
201252
 Date 1908-06-01
 Value 12.32
201253
 Date 1908-05-01
 Value 12.11
201254
 Date 1908-04-01
 Value 11.49
201255
 Date 1908-03-01
 Value 10.73
201256
 Date 1908-02-01
 Value 10.15
201257
 Date 1908-01-01
 Value 10.54
201258
 Date 1907-12-01
 Value 9.95
201259
 Date 1907-11-01
 Value 9.33
201260
 Date 1907-10-01
 Value 9.76
201261
 Date 1907-09-01
 Value 10.8
201262
 Date 1907-08-01
 Value 10.91
201263
 Date 1907-07-01
 Value 11.63
201264
 Date 1907-06-01
 Value 11.04
201265
 Date 1907-05-01
 Value 11.25
201266
 Date 1907-04-01
 Value 11.49
201267
 Date 1907-03-01
 Value 11.28
201268
 Date 1907-02-01
 Value 12.51
201269
 Date 1907-01-01
 Value 12.75
201270
 Date 1906-12-01
 Value 12.95
201271
 Date 1906-11-01
 Value 13.24
201272
 Date 1906-10-01
 Value 12.97
201273
 Date 1906-09-01
 Value 13.55
201274
 Date 1906-08-01
 Value 13.33
201275
 Date 1906-07-01
 Value 12.58
201276
 Date 1906-06-01
 Value 12.92
201277
 Date 1906-05-01
 Value 12.93
201278
 Date 1906-04-01
 Value 13.47
201279
 Date 1906-03-01
 Value 13.86
201280
 Date 1906-02-01
 Value 14.2
201281
 Date 1906-01-01
 Value 14.51
201282
 Date 1905-12-01
 Value 14.24
201283
 Date 1905-11-01
 Value 14.11
201284
 Date 1905-10-01
 Value 14.62
201285
 Date 1905-09-01
 Value 14.65
201286
 Date 1905-08-01
 Value 15.08
201287
 Date 1905-07-01
 Value 14.78
201288
 Date 1905-06-01
 Value 14.83
201289
 Date 1905-05-01
 Value 14.91
201290
 Date 1905-04-01
 Value 16.25
201291
 Date 1905-03-01
 Value 16.76
201292
 Date 1905-02-01
 Value 16.92
201293
 Date 1905-01-01
 Value 16.53
201294
 Date 1904-12-01
 Value 16.84
201295
 Date 1904-11-01
 Value 16.67
201296
 Date 1904-10-01
 Value 15.5
201297
 Date 1904-09-01
 Value 14.64
201298
 Date 1904-08-01
 Value 14.02
201299
 Date 1904-07-01
 Value 13.29
201300
 Date 1904-06-01
 Value 12.76
201301
 Date 1904-05-01
 Value 12.75
201302
 Date 1904-04-01
 Value 12.77
201303
 Date 1904-03-01
 Value 12.46
201304
 Date 1904-02-01
 Value 12.5
201305
 Date 1904-01-01
 Value 12.6
201306
 Date 1903-12-01
 Value 12.4
201307
 Date 1903-11-01
 Value 11.63
201308
 Date 1903-10-01
 Value 11.38
201309
 Date 1903-09-01
 Value 11.55
201310
 Date 1903-08-01
 Value 11.84
201311
 Date 1903-07-01
 Value 12.02
201312
 Date 1903-06-01
 Value 12.38
201313
 Date 1903-05-01
 Value 12.88
201314
 Date 1903-04-01
 Value 12.92
201315
 Date 1903-03-01
 Value 13.25
201316
 Date 1903-02-01
 Value 13.79
201317
 Date 1903-01-01
 Value 13.65
201318
 Date 1902-12-01
 Value 12.78
201319
 Date 1902-11-01
 Value 13.29
201320
 Date 1902-10-01
 Value 14.05
201321
 Date 1902-09-01
 Value 14.75
201322
 Date 1902-08-01
 Value 14.97
201323
 Date 1902-07-01
 Value 14.83
201324
 Date 1902-06-01
 Value 14.75
201325
 Date 1902-05-01
 Value 15.38
201326
 Date 1902-04-01
 Value 15.7
201327
 Date 1902-03-01
 Value 15.47
201328
 Date 1902-02-01
 Value 15.75
201329
 Date 1902-01-01
 Value 15.92
201330
 Date 1901-12-01
 Value 15.9
201331
 Date 1901-11-01
 Value 16.16
201332
 Date 1901-10-01
 Value 15.82
201333
 Date 1901-09-01
 Value 16.0
201334
 Date 1901-08-01
 Value 16.41
201335
 Date 1901-07-01
 Value 16.18
201336
 Date 1901-06-01
 Value 17.35
201337
 Date 1901-05-01
 Value 15.78
201338
 Date 1901-04-01
 Value 16.61
201339
 Date 1901-03-01
 Value 15.33
201340
 Date 1901-02-01
 Value 15.1
201341
 Date 1901-01-01
 Value 14.73
201342
 Date 1900-12-01
 Value 14.31
201343
 Date 1900-11-01
 Value 13.5
201344
 Date 1900-10-01
 Value 12.52
201345
 Date 1900-09-01
 Value 12.08
201346
 Date 1900-08-01
 Value 12.38
201347
 Date 1900-07-01
 Value 12.21
201348
 Date 1900-06-01
 Value 12.21
201349
 Date 1900-05-01
 Value 12.58
201350
 Date 1900-04-01
 Value 13.21
201351
 Date 1900-03-01
 Value 13.04
201352
 Date 1900-02-01
 Value 12.94
201353
 Date 1900-01-01
 Value 12.71
201354
 Date 1899-12-01
 Value 12.54
201355
 Date 1899-11-01
 Value 13.74
201356
 Date 1899-10-01
 Value 13.78
201357
 Date 1899-09-01
 Value 14.16
201358
 Date 1899-08-01
 Value 14.64
201359
 Date 1899-07-01
 Value 14.6
201360
 Date 1899-06-01
 Value 14.45
201361
 Date 1899-05-01
 Value 15.52
201362
 Date 1899-04-01
 Value 16.62
201363
 Date 1899-03-01
 Value 16.84
201364
 Date 1899-02-01
 Value 17.05
201365
 Date 1899-01-01
 Value 16.89
201366
 Date 1898-12-01
 Value 16.14
201367
 Date 1898-11-01
 Value 15.2
201368
 Date 1898-10-01
 Value 15.15
201369
 Date 1898-09-01
 Value 15.47
201370
 Date 1898-08-01
 Value 15.5
201371
 Date 1898-07-01
 Value 15.39
201372
 Date 1898-06-01
 Value 15.33
201373
 Date 1898-05-01
 Value 14.76
201374
 Date 1898-04-01
 Value 14.28
201375
 Date 1898-03-01
 Value 14.53
201376
 Date 1898-02-01
 Value 15.22
201377
 Date 1898-01-01
 Value 15.74
201378
 Date 1897-12-01
 Value 15.32
201379
 Date 1897-11-01
 Value 15.5
201380
 Date 1897-10-01
 Value 16.62
201381
 Date 1897-09-01
 Value 17.17
201382
 Date 1897-08-01
 Value 16.96
201383
 Date 1897-07-01
 Value 16.52
201384
 Date 1897-06-01
 Value 16.42
201385
 Date 1897-05-01
 Value 16.32
201386
 Date 1897-04-01
 Value 16.92
201387
 Date 1897-03-01
 Value 17.46
201388
 Date 1897-02-01
 Value 18.17
201389
 Date 1897-01-01
 Value 19.18
201390
 Date 1896-12-01
 Value 20.1
201391
 Date 1896-11-01
 Value 20.86
201392
 Date 1896-10-01
 Value 18.64
201393
 Date 1896-09-01
 Value 18.23
201394
 Date 1896-08-01
 Value 17.32
201395
 Date 1896-07-01
 Value 17.57
201396
 Date 1896-06-01
 Value 18.78
201397
 Date 1896-05-01
 Value 19.13
201398
 Date 1896-04-01
 Value 18.42
201399
 Date 1896-03-01
 Value 18.25
201400
 Date 1896-02-01
 Value 18.54
201401
 Date 1896-01-01
 Value 17.08
201402
 Date 1895-12-01
 Value 17.28
201403
 Date 1895-11-01
 Value 19.13
201404
 Date 1895-10-01
 Value 19.79
201405
 Date 1895-09-01
 Value 20.96
201406
 Date 1895-08-01
 Value 21.77
201407
 Date 1895-07-01
 Value 22.48
201408
 Date 1895-06-01
 Value 22.38
201409
 Date 1895-05-01
 Value 23.05
201410
 Date 1895-04-01
 Value 23.0
201411
 Date 1895-03-01
 Value 23.28
201412
 Date 1895-02-01
 Value 23.28
201413
 Date 1895-01-01
 Value 25.0
201414
 Date 1894-12-01
 Value 26.88
201415
 Date 1894-11-01
 Value 25.53
201416
 Date 1894-10-01
 Value 24.11
201417
 Date 1894-09-01
 Value 23.58
201418
 Date 1894-08-01
 Value 23.21
201419
 Date 1894-07-01
 Value 21.25
201420
 Date 1894-06-01
 Value 20.67
201421
 Date 1894-05-01
 Value 20.0
201422
 Date 1894-04-01
 Value 19.87
201423
 Date 1894-03-01
 Value 18.79
201424
 Date 1894-02-01
 Value 18.25
201425
 Date 1894-01-01
 Value 17.28
201426
 Date 1893-12-01
 Value 16.96
201427
 Date 1893-11-01
 Value 16.93
201428
 Date 1893-10-01
 Value 16.07
201429
 Date 1893-09-01
 Value 15.07
201430
 Date 1893-08-01
 Value 13.6
201431
 Date 1893-07-01
 Value 13.48
201432
 Date 1893-06-01
 Value 14.41
201433
 Date 1893-05-01
 Value 15.13
201434
 Date 1893-04-01
 Value 16.09
201435
 Date 1893-03-01
 Value 15.62
201436
 Date 1893-02-01
 Value 15.74
201437
 Date 1893-01-01
 Value 15.58
201438
 Date 1892-12-01
 Value 14.89
201439
 Date 1892-11-01
 Value 15.05
201440
 Date 1892-10-01
 Value 15.11
201441
 Date 1892-09-01
 Value 15.22
201442
 Date 1892-08-01
 Value 15.61
201443
 Date 1892-07-01
 Value 15.39
201444
 Date 1892-06-01
 Value 15.39
201445
 Date 1892-05-01
 Value 15.91
201446
 Date 1892-04-01
 Value 15.91
201447
 Date 1892-03-01
 Value 15.94
201448
 Date 1892-02-01
 Value 15.77
201449
 Date 1892-01-01
 Value 16.21
201450
 Date 1891-12-01
 Value 15.91
201451
 Date 1891-11-01
 Value 15.44
201452
 Date 1891-10-01
 Value 16.15
201453
 Date 1891-09-01
 Value 16.15
201454
 Date 1891-08-01
 Value 15.41
201455
 Date 1891-07-01
 Value 14.91
201456
 Date 1891-06-01
 Value 15.16
201457
 Date 1891-05-01
 Value 15.97
201458
 Date 1891-04-01
 Value 16.03
201459
 Date 1891-03-01
 Value 16.03
201460
 Date 1891-02-01
 Value 16.33
201461
 Date 1891-01-01
 Value 16.69
201462
 Date 1890-12-01
 Value 15.86
201463
 Date 1890-11-01
 Value 16.24
201464
 Date 1890-10-01
 Value 17.52
201465
 Date 1890-09-01
 Value 18.34
201466
 Date 1890-08-01
 Value 18.66
201467
 Date 1890-07-01
 Value 19.1
201468
 Date 1890-06-01
 Value 18.6
201469
 Date 1890-05-01
 Value 18.73
201470
 Date 1890-04-01
 Value 17.97
201471
 Date 1890-03-01
 Value 17.6
201472
 Date 1890-02-01
 Value 17.73
201473
 Date 1890-01-01
 Value 17.93
201474
 Date 1889-12-01
 Value 17.73
201475
 Date 1889-11-01
 Value 17.83
201476
 Date 1889-10-01
 Value 18.62
201477
 Date 1889-09-01
 Value 18.97
201478
 Date 1889-08-01
 Value 18.52
201479
 Date 1889-07-01
 Value 18.93
201480
 Date 1889-06-01
 Value 19.32
201481
 Date 1889-05-01
 Value 19.0
201482
 Date 1889-04-01
 Value 19.19
201483
 Date 1889-03-01
 Value 19.22
201484
 Date 1889-02-01
 Value 19.63
201485
 Date 1889-01-01
 Value 20.15
201486
 Date 1888-12-01
 Value 19.77
201487
 Date 1888-11-01
 Value 19.41
201488
 Date 1888-10-01
 Value 19.11
201489
 Date 1888-09-01
 Value 18.55
201490
 Date 1888-08-01
 Value 18.1
201491
 Date 1888-07-01
 Value 17.13
201492
 Date 1888-06-01
 Value 16.16
201493
 Date 1888-05-01
 Value 16.16
201494
 Date 1888-04-01
 Value 15.45
201495
 Date 1888-03-01
 Value 14.94
201496
 Date 1888-02-01
 Value 15.53
201497
 Date 1888-01-01
 Value 15.17
201498
 Date 1887-12-01
 Value 14.64
201499
 Date 1887-11-01
 Value 14.72
201500
 Date 1887-10-01
 Value 14.44
201501
 Date 1887-09-01
 Value 15.37
201502
 Date 1887-08-01
 Value 15.57
201503
 Date 1887-07-01
 Value 15.97
201504
 Date 1887-06-01
 Value 16.37
201505
 Date 1887-05-01
 Value 17.35
201506
 Date 1887-04-01
 Value 17.06
201507
 Date 1887-03-01
 Value 16.68
201508
 Date 1887-02-01
 Value 16.29
201509
 Date 1887-01-01
 Value 16.91
201510
 Date 1886-12-01
 Value 17.09
201511
 Date 1886-11-01
 Value 17.55
201512
 Date 1886-10-01
 Value 17.66
201513
 Date 1886-09-01
 Value 17.22
201514
 Date 1886-08-01
 Value 17.32
201515
 Date 1886-07-01
 Value 17.19
201516
 Date 1886-06-01
 Value 17.5
201517
 Date 1886-05-01
 Value 16.73
201518
 Date 1886-04-01
 Value 17.66
201519
 Date 1886-03-01
 Value 17.9
201520
 Date 1886-02-01
 Value 18.93
201521
 Date 1886-01-01
 Value 18.57
201522
 Date 1885-12-01
 Value 19.26
201523
 Date 1885-11-01
 Value 19.41
201524
 Date 1885-10-01
 Value 17.57
201525
 Date 1885-09-01
 Value 16.61
201526
 Date 1885-08-01
 Value 16.82
201527
 Date 1885-07-01
 Value 15.38
201528
 Date 1885-06-01
 Value 14.83
201529
 Date 1885-05-01
 Value 14.9
201530
 Date 1885-04-01
 Value 14.57
201531
 Date 1885-03-01
 Value 14.6
201532
 Date 1885-02-01
 Value 14.57
201533
 Date 1885-01-01
 Value 13.68
201534
 Date 1884-12-01
 Value 14.0
201535
 Date 1884-11-01
 Value 13.59
201536
 Date 1884-10-01
 Value 13.45
201537
 Date 1884-09-01
 Value 13.91
201538
 Date 1884-08-01
 Value 13.94
201539
 Date 1884-07-01
 Value 12.74
201540
 Date 1884-06-01
 Value 12.39
201541
 Date 1884-05-01
 Value 12.92
201542
 Date 1884-04-01
 Value 13.68
201543
 Date 1884-03-01
 Value 13.95
201544
 Date 1884-02-01
 Value 13.64
201545
 Date 1884-01-01
 Value 13.28
201546
 Date 1883-12-01
 Value 13.35
201547
 Date 1883-11-01
 Value 13.65
201548
 Date 1883-10-01
 Value 13.12
201549
 Date 1883-09-01
 Value 13.49
201550
 Date 1883-08-01
 Value 13.34
201551
 Date 1883-07-01
 Value 13.98
201552
 Date 1883-06-01
 Value 13.86
201553
 Date 1883-05-01
 Value 13.74
201554
 Date 1883-04-01
 Value 13.98
201555
 Date 1883-03-01
 Value 13.69
201556
 Date 1883-02-01
 Value 13.21
201557
 Date 1883-01-01
 Value 13.51
201558
 Date 1882-12-01
 Value 13.58
201559
 Date 1882-11-01
 Value 13.51
201560
 Date 1882-10-01
 Value 14.12
201561
 Date 1882-09-01
 Value 14.51
201562
 Date 1882-08-01
 Value 14.37
201563
 Date 1882-07-01
 Value 13.95
201564
 Date 1882-06-01
 Value 12.91
201565
 Date 1882-05-01
 Value 12.98
201566
 Date 1882-04-01
 Value 13.14
201567
 Date 1882-03-01
 Value 13.14
201568
 Date 1882-02-01
 Value 13.16
201569
 Date 1882-01-01
 Value 13.45
201570
 Date 1881-12-01
 Value 13.66
201571
 Date 1881-11-01
 Value 14.07
201572
 Date 1881-10-01
 Value 13.67
201573
 Date 1881-09-01
 Value 13.89
201574
 Date 1881-08-01
 Value 13.48
201575
 Date 1881-07-01
 Value 13.8
201576
 Date 1881-06-01
 Value 14.0
201577
 Date 1881-05-01
 Value 13.83
201578
 Date 1881-04-01
 Value 13.23
201579
 Date 1881-03-01
 Value 13.0
201580
 Date 1881-02-01
 Value 12.85
201581
 Date 1881-01-01
 Value 12.63
201582
 Date 1880-12-01
 Value 11.92
201583
 Date 1880-11-01
 Value 11.69
201584
 Date 1880-10-01
 Value 11.34
201585
 Date 1880-09-01
 Value 11.26
201586
 Date 1880-08-01
 Value 11.53
201587
 Date 1880-07-01
 Value 11.39
201588
 Date 1880-06-01
 Value 10.89
201589
 Date 1880-05-01
 Value 11.09
201590
 Date 1880-04-01
 Value 12.33
201591
 Date 1880-03-01
 Value 12.93
201592
 Date 1880-02-01
 Value 13.0
201593
 Date 1880-01-01
 Value 13.1
201594
 Date 1879-12-01
 Value 12.95
201595
 Date 1879-11-01
 Value 13.32
201596
 Date 1879-10-01
 Value 12.65
201597
 Date 1879-09-01
 Value 11.72
201598
 Date 1879-08-01
 Value 11.31
201599
 Date 1879-07-01
 Value 11.54
201600
 Date 1879-06-01
 Value 11.31
201601
 Date 1879-05-01
 Value 11.59
201602
 Date 1879-04-01
 Value 11.42
201603
 Date 1879-03-01
 Value 11.06
201604
 Date 1879-02-01
 Value 11.59
201605
 Date 1879-01-01
 Value 11.19
201606
 Date 1878-12-01
 Value 11.13
201607
 Date 1878-11-01
 Value 11.19
201608
 Date 1878-10-01
 Value 11.23
201609
 Date 1878-09-01
 Value 11.35
201610
 Date 1878-08-01
 Value 11.13
201611
 Date 1878-07-01
 Value 11.23
201612
 Date 1878-06-01
 Value 11.0
201613
 Date 1878-05-01
 Value 11.13
201614
 Date 1878-04-01
 Value 11.1
201615
 Date 1878-03-01
 Value 10.8
201616
 Date 1878-02-01
 Value 10.6
201617
 Date 1878-01-01
 Value 10.83
201618
 Date 1877-12-01
 Value 10.83
201619
 Date 1877-11-01
 Value 10.87
201620
 Date 1877-10-01
 Value 11.03
201621
 Date 1877-09-01
 Value 10.8
201622
 Date 1877-08-01
 Value 10.52
201623
 Date 1877-07-01
 Value 9.83
201624
 Date 1877-06-01
 Value 9.41
201625
 Date 1877-05-01
 Value 10.14
201626
 Date 1877-04-01
 Value 10.14
201627
 Date 1877-03-01
 Value 10.93
201628
 Date 1877-02-01
 Value 11.93
201629
 Date 1877-01-01
 Value 12.68
201630
 Date 1876-12-01
 Value 12.79
201631
 Date 1876-11-01
 Value 12.41
201632
 Date 1876-10-01
 Value 12.66
201633
 Date 1876-09-01
 Value 12.3
201634
 Date 1876-08-01
 Value 12.68
201635
 Date 1876-07-01
 Value 13.23
201636
 Date 1876-06-01
 Value 12.97
201637
 Date 1876-05-01
 Value 12.67
201638
 Date 1876-04-01
 Value 13.15
201639
 Date 1876-03-01
 Value 13.26
201640
 Date 1876-02-01
 Value 12.91
201641
 Date 1876-01-01
 Value 12.74
201642
 Date 1875-12-01
 Value 12.14
201643
 Date 1875-11-01
 Value 11.81
201644
 Date 1875-10-01
 Value 11.32
201645
 Date 1875-09-01
 Value 11.21
201646
 Date 1875-08-01
 Value 11.31
201647
 Date 1875-07-01
 Value 10.97
201648
 Date 1875-06-01
 Value 10.68
201649
 Date 1875-05-01
 Value 10.64
201650
 Date 1875-04-01
 Value 10.81
201651
 Date 1875-03-01
 Value 10.43
201652
 Date 1875-02-01
 Value 10.3
201653
 Date 1875-01-01
 Value 10.09
201654
 Date 1874-12-01
 Value 9.87
201655
 Date 1874-11-01
 Value 9.93
201656
 Date 1874-10-01
 Value 9.85
201657
 Date 1874-09-01
 Value 9.87
201658
 Date 1874-08-01
 Value 9.72
201659
 Date 1874-07-01
 Value 9.7
201660
 Date 1874-06-01
 Value 9.7
201661
 Date 1874-05-01
 Value 9.74
201662
 Date 1874-04-01
 Value 10.0
201663
 Date 1874-03-01
 Value 10.28
201664
 Date 1874-02-01
 Value 10.43
201665
 Date 1874-01-01
 Value 10.13
201666
 Date 1873-12-01
 Value 9.61
201667
 Date 1873-11-01
 Value 8.78
201668
 Date 1873-10-01
 Value 9.11
201669
 Date 1873-09-01
 Value 10.2
201670
 Date 1873-08-01
 Value 11.04
201671
 Date 1873-07-01
 Value 11.04
201672
 Date 1873-06-01
 Value 11.07
201673
 Date 1873-05-01
 Value 11.48
201674
 Date 1873-04-01
 Value 11.45
201675
 Date 1873-03-01
 Value 11.61
201676
 Date 1873-02-01
 Value 11.7
201677
 Date 1873-01-01
 Value 11.88
201678
 Date 1872-12-01
 Value 11.79
201679
 Date 1872-11-01
 Value 11.51
201680
 Date 1872-10-01
 Value 11.56
201681
 Date 1872-09-01
 Value 11.79
201682
 Date 1872-08-01
 Value 12.0
201683
 Date 1872-07-01
 Value 12.14
201684
 Date 1872-06-01
 Value 12.21
201685
 Date 1872-05-01
 Value 12.63
201686
 Date 1872-04-01
 Value 12.63
201687
 Date 1872-03-01
 Value 12.29
201688
 Date 1872-02-01
 Value 11.9
201689
 Date 1872-01-01
 Value 12.15
201690
 Date 1871-12-01
 Value 11.85
201691
 Date 1871-11-01
 Value 11.6
201692
 Date 1871-10-01
 Value 11.48
201693
 Date 1871-09-01
 Value 12.1
201694
 Date 1871-08-01
 Value 11.98
201695
 Date 1871-07-01
 Value 11.83
201696
 Date 1871-06-01
 Value 12.05
201697
 Date 1871-05-01
 Value 12.15
201698
 Date 1871-04-01
 Value 11.85
201699
 Date 1871-03-01
 Value 11.53
201700
 Date 1871-02-01
 Value 11.25
201701
 Date 1871-01-01
 Value 11.1
201722
 predictionTimestamp 1479858501296
 Value 38
 Date -3124108800000</script>
<script type="text/javascript">
const data = $("#test").html()
const map = {}
const startTime = Date.now()
const lineLength = data.split("\n").length
const trials = 200
const runTest = () => {

	for (let index = 0; index < trials; index++) {
	map[index] = new jtree.TreeNode(data)
}
console.log(`parsed ${lineLength * trials} lines of TN code in ${Date.now() - startTime}ms`)
}
runTest()
</script>
